<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Fine Print - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/fontawesome.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/fontawesome.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>

    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/fontawesome.min.js")"></script>
    <script src="@Url.Content("~/js/knockout-3.5.0.js")"></script>
    <script src="@Url.Content("~/js/global.js")"></script>
    <script src="@Url.Content("~/js/blogger.js")"></script>
</head>
<body id="body">
    <header id="header">
        <div id="sticky-wrapper" class="sticky-header">
            <ul class="flex-container flex-center">
                <li class="flex-left-align">
                    <ul class="icons">
                        <li id="side-nav-button"><a href="#" class="fa fa-bars"></a></li>
                    </ul>
                </li>
                <li id="header-logo" class="flex-centered centered-text" onclick="navigateHome()">
                    <h1>THE FINE PRINT</h1>
                    <span class="avatar"></span>
                    <p class="header-subtext">Under the surface. Above the noise.</p>
                </li>
                <li class="flex-right-align" hidden>
                    <ul class="icons">
                        <li><a href="#" class="fa-search">Search</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>


    <div id="side-bar" class="side-nav">
        <a href="#" id="close-nav-button" class="closebtn">&times;</a>
        <a href="/">Home</a>
        <a href="#">About</a>
        <div data-bind="foreach: categories">
            <a onclick="navigateToCategory(this)" data-bind="text: $data"></a>
        </div>
        <a href="#">Contact</a>
    </div>

    <div id="wrapper">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer id="footer" class="column">

        <div id="top-footer" class="flex-container flex-spacing">
            <section class="widget">
                <h2 class="widget-title">Latest Posts</h2>
                <ul data-bind="foreach: latestPosts">
                    <li class="spaced-list-item">
                        <span class="fa fa-chevron-right"></span>
                        <a data-bind="attr: {href: postUrl}, text: title"></a>
                    </li>
                </ul>
            </section>
            <section class="widget">
                <h2 class="widget-title">Category</h2>
                <ul data-bind="foreach: categories">
                    <li class="spaced-list-item">
                        <span class="fa fa-folder"></span>
                        <a onclick="navigateToCategory(this)" data-bind="text: $data"></a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="flex-container widget">
            <div class="full-width">
                <h1 class="separated-list-item">THE FINE PRINT</h1>
                <p class="header-subtext inline">Under the surface. Above the noise.</p>

                <div class="author-social inline float-right">
                    <a href="https://www.facebook.com/jennifer.nichols.927543" target="_blank" title="Facebook"><span class="fa fa-facebook"></span></a>
                    <a href="https://www.instagram.com/jennifernichols_dance/" target="_blank" title="Instagram"><span class="fa fa-instagram"></span></a>
                    <a href="https://www.extensionmethod.com/" target="_blank" title="Web"><span class="fa fa-globe"></span></a>
                    <a href="https://www.youtube.com/channel/UCv5zaYkxa7SCXepCGnIWmjQ" target="_blank" title="YouTube"><span class="fa fa-youtube"></span></a>
                </div><!-- .cv-social-icons-wrapper -->
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/posts/postViewModel.js"></script>
    <script src="~/js/home/home.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
